.dropdown-menu .dropdown-menu {
    position: relative;
    display: inline-block;
    background: none;
    box-shadow: none;
    border: none;
}

.nav > li.dropdown > ul.dropdown-menu:first-of-type {
    /*width: 800px;*/
}

.nav > li.dropdown > ul.dropdown-menu > li {
    display: inline-block;
}

.nav > li.dropdown > ul.dropdown-menu > li > a {
    font-size: 20px;
    font-weight: 400;
}

.nsu-form label {
    display: none !important;
}

.footer-middle-in form p {
    margin-top: 0;
}

.footer .textwidget > p:first-of-type {
    margin: 0;
}

#malinky-ajax-pagination-button {
    background: #F67777;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    clear: both;
    display: inline-block;
    margin: 50px auto 0;
}

.woocommerce-pagination {
    text-align: center;
}

.pagination > li > a, .pagination > li > span {
    color: #f67777 !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background: #f67777 !important;
    color: #fff !important;
    border: #f66666;
}

.cart-contents {
    color: #333;
    text-decoration: none;
}

.cart-contents:hover {
    color: #f67777;
    text-decoration: none;
}

.tooltip-inner {
    background: #f67777;
}

.tooltip-arrow {
    border-color: #f67777;
}

a.remove {
    background: #f67777;
    color: #fff;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 17px;
    text-align: center;
    font-size: 1.5em;
}

a.remove:hover {
    color: #fff;
}

.woocommerce-billing-fields label, .woocommerce-shipping-fields label, .wc_payment_method label, form.login label {
    font-weight: 300;
    margin: 5px auto;
    display: inline-block;
}

.woocommerce-billing-fields abbr, form.login span {
    color: #f67777;
}

.woocommerce-shipping-fields textarea {
    max-width: 100%;
    min-height: 200px;
    max-height: 250px;
}


.select2-container .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
    border: none;
}

.woocommerce-checkout-review-order-table th {
    color: #f67777;
}

.woocommerce-checkout-review-order-table td {
    font-weight: 300;
    color: #555;
}

.woocommerce-error {
    list-style: none;
    border-top: 1px solid #ddd;
    margin: 20px auto 0;
    padding: 10px 0;
}

.woocommerce-error strong {
    color: #f67777;
    font-weight: 300 !important;
}

.woocommerce-info a {
    color: #f67777;
    text-decoration: none;
}

.woocommerce-info a:hover {
    color: #333;
    text-decoration: none;
}

.wishlist_table .product-name a {
    color: #f67777;
    text-decoration: none;
}

.wishlist_table .product-name a:hover, .wishlist_table .product-name a:focus {
    color: #333;
    text-decoration: none;
}

.woocommerce-MyAccount-navigation ul li a {
    padding: 0 10px 0 0;
    color: #f67777;
    text-decoration: none;
}

.woocommerce-MyAccount-navigation ul li a:hover, .woocommerce-MyAccount-navigation ul li.is-active a{
    color: #333333;
}

span.onsale {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 100px;
    color: #fff;
    opacity: 0.7;
    display: block;
    text-align: center;
    margin: 40px 0;
    transform: rotate(-40deg);
    z-index: 0;
}

.product .container main > .row {
    margin: 20px auto;
}

.acf-map {
    width: 100%;
    height: 400px;
    border: #ccc solid 1px;
    margin: 20px 0;
}

.columns-4 .woocommerce-message {
    display: none;
}